* {
    box-sizing: border-box;
    --font-family-secundary: "Righteous", sans-serif;
    --primary-color: #CF2B2B;
    --secundary-color: #32B72F;
}

:root {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(--primary-color);
    height: 90px;
    color: #FFF;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 3px 5px #BABABA;
    z-index: 1;
}

header h1 {
    font-family: var(--font-family-secundary);
    font-size: 44px;
    padding: 0 0 5px 15px;
}

header h2 {
    padding-left: 15px;
}

main {
    background-color: #EEE;
    padding: 0 0 20px 15px;

}

main h1 {
    font-family: var(--font-family-secundary);
    padding: 30px 0 10px;
    font-size: 20px;
}

section {
    display: flex;
    padding: 10px;
    overflow: auto;
}

.selecao-produto {
    background-color: #FFF;
    margin-right: 15px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #bababa6b;
    position: relative;
    cursor: pointer;
}

.selecao-produto img {
    padding: 10px;
    width: 200px;
    height: 130px;
    border-radius: 20px;
}

.selecao-produto .nome-produto {
    font-weight: 600;
    padding: 0 10px 10px 10px;
    font-size: 16px;
}

.selecao-produto .descricao {
    color: #A6A6A6;
    padding: 0 10px;
    height: 50px;
    overflow: auto;
    margin-bottom: 40px;
}

.selecao-produto .preco {
    padding: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
}

footer {
    background-color: white;
    height: 60px;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer button {
    border: none;
    width: 80%;
    background-color: #CBCBCB;
    color: #FFF;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
}

.pedido-selecionado {
    outline: solid var(--secundary-color);
}

.pedido-fechado {
    background-color: var(--secundary-color);

}

.icon {
    color: var(--secundary-color);
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-size: 18px;
}

.disabled{
    display: none !important;
}

.pedido-concluido{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.637);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pedido-concluido .sessao{
    min-width: 270px;
    background-color: var(--secundary-color);
    color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.pedido-concluido h2{
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

.pedido-concluido .pedido{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pedido-concluido p{
    margin-bottom: 10px;
}

.bold{
    margin-top: 10px;
    font-weight: 500;
}

.pedido-concluido .confirmar{
    background-color: #FFF;
    border: none;
    color: var(--secundary-color);
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    
}

.pedido-concluido .cancelar{
    border: none;
    background-color: transparent;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}


/* @media screen and (600px <=width <=1024px) {

    body {
        background-color: red;
    }
}

@media screen and (1024px <=width) {

    body {
        background-color: blue;
    }
} */